# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
.env

# Conda environment
.conda/

# Build artifacts
build/
dist/
app.spec
app.exe
app.build/
app.dist/
app.onefile-build/

# IDE settings
.vscode/
.idea/